@using FMStyle.Areas.Admin.Models;
@using FMStyle.Libraries;
@model List<role>
@{
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="space"></div>
@Html.Raw(ViewBag.error)

<div class="col w10 last">
    <div class="content">
        <div class="box header">
            <div class="head"><div></div></div>
            <h2>Quyền người dùng</h2>
            <div class="desc">
                <form action="" method="post">
                    <div class="tool">
                        <input type="submit" name="btnKhuyenMai" class="btnx" value="Cập nhật" onclick="return confirm('Thao tác này sẽ xóa và cập nhật Role người dùng. Bạn có muốn cập nhật không?')" />
                        <input type="button" name="btnThem" class="btn" value="Thêm role" onclick="redirectRole()" />
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <th class="checkbox">
                                    <input type="checkbox" name="ckbAll" onclick="selectAll(this)" />All
                                </th>
                                <th class="stt">STT</th>
                                <th class="hinhanh">Role</th>
                                <th class="hinhanh">Truy cập CMS</th>
                                <th class="hinhanh">Special</th>
                            </tr>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td class="checkbox">
                                        <input id="" type="checkbox" class="ckb" name="@i&#46;del" value="@Model[i].id_role">
                                        <input type="hidden" name="@i&#46;idHd" value="@Model[i].id_role" />
                                    </td>
                                    <td>
                                        @(i + 1)
                                    </td>
                                    <td><a href="/admin/thong-tin-role-@Lib.VietNamToEnglish(Model[i].role1)-@Model[i].id_role&#46;html" title="@Model[i].role1">@Model[i].role1</a></td>
                                    <td>
                                        @if (Model[i].truycap_cms == true)
                                        {
                                            <input type="checkbox" name="@i.ToString()&#46;cms" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="@i.ToString()&#46;cms"/>
                                        }
                                    </td>
                                    <td>
                                        @if (Model[i].special == true)
                                        {
                                           <input type="checkbox" name="@i.ToString()&#46;sp" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="@i.ToString()&#46;sp" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="bottom"><div></div></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // check unckec all checckbox
    function selectAll(invoker) {
        var inputElements = document.getElementsByClassName('ckb');
        for (var i = 0; i < inputElements.length; i++) {
            var myElement = inputElements[i];
            if (myElement.type === "checkbox") {
                myElement.checked = invoker.checked;
            }
        }
    }

    // redirect:
    function redirectRole() {
        window.location.href = "/admin/them-quyen-nguoi-dung.html";

    }
</script>

