@using FMStyle.Areas.Admin.Models;
@using FMStyle.Libraries;
@model List<object>
@{
	string key = Model[0].ToString();
	int id = Convert.ToInt32(Model[1]);
	List<san_pham> list = (List<san_pham>)Model[2];
}

@foreach (san_pham sp in list) {
    <li>
        <a href="/admin/thong-tin-san-pham-@Lib.VietNamToEnglish(@sp.ten_sanpham)-@sp.id_sanpham&#46;html" title="@sp.ten_sanpham">
            <img src="~/uploads/@sp.hinhanh" alt="@sp.ten_sanpham" />
            <span>@sp.ten_sanpham</span>
        </a>
    </li>
}
<li>
	<a href="/admin/san-pham/@key-@id&#46;html" title="@key">Xem thêm kết quả tìm kiếm "@key".</a>
</li>