@using FMStyle.Models;
@using FMStyle.Libraries;
@model List<dat_hang_detail>
<table class="tbLichSu">
    <tr>
        <th>STT</th>
        <th>Hình ảnh</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Size</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @(i + 1)
            </td>
            <td>
                <img height="100" width="80" alt="@Model[i].san_pham.ten_sanpham" src="/uploads/@Model[i].san_pham.hinhanh">
            </td>
            <td>
                <a href="/thong-tin-san-pham-@Lib.VietNamToEnglish(Model[i].san_pham.ten_sanpham)-@Model[i].san_pham.id_sanpham&#46;html">@Model[i].san_pham.ten_sanpham</a>
            </td>
            <td>@Model[i].soluong</td>
            <td>@Model[i].size</td>
        </tr>
    }
    <tr>
        <td colspan="5">
            @Html.Raw(Lib.messengerPublic("Tổng tiền: "+ViewBag.stongTien))
        </td>

    </tr>
</table>