@using FMStyle.Models;
@using FMStyle.Libraries;
@using FMStyle.Config;
@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";
    List<object> lst = (List<object>)Model;
    List<slide> slides = (List<slide>)lst[0];
    quangcao qc = (quangcao)lst[1];
    List<san_pham> spMoi = (List<san_pham>)lst[2];
    List<san_pham> spKM = (List<san_pham>)lst[4];
    List<san_pham> spMuaNhieu = (List<san_pham>)lst[5];

}
    <div class="menu_bar">
        <ul class="menu_bar_ul">
            <li class="menu_bar_li1">
                <a class="menu_bar_a" href="#new">Mới nhất</a>
            </li>
            <li class="menu_bar_li">
                <a class="menu_bar_a" href="#ro">Bán chạy</a>
            </li>
            <li class="menu_bar_li">
                <a class="menu_bar_a" href="#kh">Khuyến mãi</a>
            </li>
        </ul>
    </div>
    <div class="noibat">
        <div class="slide-container">
            <div class="slide-stage">
                @foreach (var slide in slides)
                {
                    <div class="slide-image">
                        <a href="@slide.link" title="">
                            <img class="img_sp" alt="@slide.link" src="slide/@slide.hinhanh">
                        </a>
                    </div>
                }
                

            </div>
            <div class="slide-pager">
                <ul></ul>
            </div>
        </div>
        <div class="sp_noibat">

            <div class="lbHinhADV">
                <a href="@qc.link" title="@qc.ten"><img style="height: 100%; width: 233px" src="/adv/@qc.hinhanh" alt="@qc.ten"></a>
            </div>

        </div>
    </div>
    <div class="clr"></div>
    <div id="cont">

        <div class="title">

            <h3 class="title-name">SẢN PHẨM MỚI</h3>
            <a class="more" href="/danh-sach-san-pham-moi.html" title="Xem nhiều hơn">Xem nhiều hơn</a>
        </div>
        <div class="clr"></div>
        <div class="product">
            @foreach (var item in spMoi)
            {
                <div class="productItem">
                    <a href="/thong-tin-san-pham-@Lib.VietNamToEnglish(item.ten_sanpham)-@item.id_sanpham&#46;html" title="@item.ten_sanpham">
                        <span class="product-img">
                            <img class="hinhsp" height="350" width="275" alt="@item.ten_sanpham" src="/uploads/@item.hinhanh" style="display: block;">
                        </span>
                        <span class="productName">@Lib.catChuoi(item.ten_sanpham, Conf.NAME_PRODUCT_LENGTH)</span>
                        <br>
                        <span class="price">
                            <span class="price">
                                @if (item.khuyenmai == true)
                                {
                                    decimal gia = ((100 - Convert.ToInt32(Model[3]))*item.gia)/100;
                                    <span style="color:Red;"><del>@Lib.convertToVietNamDong(gia)</del>&nbsp;&nbsp;&nbsp;</span>
                                }
                                @Lib.convertToVietNamDong(item.gia)
                            </span>
                        </span>
                    </a>
                </div>
            }
        </div>
        <div class="clr"></div>
        <div class="ttthem">
            <a href="/danh-sach-san-pham-moi.html">
                <img src="/images/public/spmoi.png" alt="Sản phẩm mới">
            </a>
        </div>
        <div class="clr"></div>

        <div class="title">

            <h3 class="title-namebc">SẢN PHẨM BÁN CHẠY</h3>
            <a class="more" href="/danh-sach-san-pham-ban-chay.html" title="Xem nhiều hơn">Xem nhiều hơn</a>
        </div>
        <div class="clr"></div>
        <div class="product">
            @foreach (var item in spMuaNhieu)
            {
                <div class="productItem">
                    <a href="/thong-tin-san-pham-@Lib.VietNamToEnglish(item.ten_sanpham)-@item.id_sanpham&#46;html" title="@item.ten_sanpham">
                        <span class="product-img">
                            <img class="hinhsp" height="350" width="275" alt="@item.ten_sanpham" src="/uploads/@item.hinhanh" style="display: block;">
                        </span>
                        <span class="productName">@Lib.catChuoi(item.ten_sanpham, Conf.NAME_PRODUCT_LENGTH)</span>
                        <br>
                        <span class="price">
                            <span class="price">
                                @if (item.khuyenmai == true)
                                {
                                    decimal gia = ((100 - Convert.ToInt32(Model[3])) * item.gia) / 100;
                                    <span style="color:Red;"><del>@Lib.convertToVietNamDong(gia)</del>&nbsp;&nbsp;&nbsp;</span>
                                }
                                @Lib.convertToVietNamDong(item.gia)
                            </span>
                        </span>
                    </a>
                </div>
            }
        </div>
        <div class="clr"></div>
        <div class="ttthem">
            <a href="/danh-sach-san-pham-ban-chay.html">
                <img src="/images/public/spbanchay.png" alt="Sản phẩm bán chạy">
            </a>
        </div>

        <div class="clr"></div>

        <div class="title">

            <h3 class="title-namekm">SẢN PHẨM KHUYẾN MÃI</h3>
            <a class="more" href="/danh-sach-san-pham-khuyen-mai.html" title="Xem nhiều hơn">Xem nhiều hơn</a>
        </div>
        <div class="clr"></div>
        <div class="product">
            @foreach (var item in spKM)
            {
                <div class="productItem">
                    <a href="/thong-tin-san-pham-@Lib.VietNamToEnglish(item.ten_sanpham)-@item.id_sanpham&#46;html" title="@item.ten_sanpham">
                        <span class="product-img">
                            <img class="hinhsp" height="350" width="275" alt="@item.ten_sanpham" src="/uploads/@item.hinhanh" style="display: block;">
                        </span>
                        <span class="productName">@Lib.catChuoi(item.ten_sanpham,Conf.NAME_PRODUCT_LENGTH)</span>
                        <br>
                        <span class="price">
                            <span class="price">
                                @if (item.khuyenmai == true)
                                {
                                    decimal gia = ((100 - Convert.ToInt32(Model[3])) * item.gia) / 100;
                                    <span style="color:Red;"><del>@Lib.convertToVietNamDong(gia)</del>&nbsp;&nbsp;&nbsp;</span>
                                }
                                @Lib.convertToVietNamDong(item.gia)
                            </span>
                        </span>
                    </a>
                </div>
            }
        </div>
        <div class="clr"></div>
        <div class="ttthem">
            <a href="/danh-sach-san-pham-khuyen-mai.html">
                <img src="/images/public/spkhuyenmai.png" alt="Sản phẩm khuyến mãi">
            </a>
        </div>
    </div>