@using FMStyle.Libraries;
<ul>
    <li>
        <a href="/admin/san-pham.html"class="@MenuCurrent.sanPham"><span>Sản phẩm</span></a>
    </li>
    <li>
        <a href="/admin/danh-muc.html"class="@MenuCurrent.danhMuc"><span>Danh mục</span></a>
    </li>

    <li>
        <a href="/admin/dat-hang.html"class="@MenuCurrent.datHang">
            <span>
                Đặt hàng
                <strong style="color: red">
                    <span id="lbDatHang" style="margin: 0; float: right; background-color: red; color: #fff; padding: 0px 2px; border-radius: 5px; margin-left: 5px; font-size: 11px">@Html.Action("countOrderStatusFalse", "DatHang")</span>
                </strong>
            </span>
        </a>
    </li>
    <li>
        <a href="/admin/fmstyle-phan-mem.html"class="@MenuCurrent.thongTin"><span>Thông tin</span></a>
    </li>

</ul>