@using FMStyle.Models;
@model nguoidung
@{
    Layout = "~/Views/Shared/PublicTemplate.cshtml";

}

<h4><a href="/" style="color: #01c4c4">Trang chủ</a>/ Thông tin cá nhân</h4>
<div class="title">
    <h3 class="title-names">Thông tin cá nhân</h3>
</div>
<div class="clr"></div>
<fieldset style="margin: 70px auto; border-radius: 7px; border: 1px solid #01c4c4; width: 400px">
    <legend style="color: #01c4c4; font-weight: bold; margin-left: 15px">Thông tin cá nhân</legend>
    <form action="" method="post">
        <table style="height: 296px; width: 458px; margin: 20px">

            <tr>
                <td style="width: 125px; height: 35px">Tên đăng nhập:</td>
                <td class="space" style="height: 35px">
                    @Model.username
            </td>
        </tr>
        <tr>
            <td style="width: 125px; height: 34px">Mật khẩu:</td>
            <td class="space" style="height: 34px">
                <a href="/doi-mat-khau.html" title="Đổi mật khẩu">Đổi mật khẩu</a>
            </td>
        </tr>
        <tr>
            <td style="width: 125px">Họ và tên (<span style="color: red">*</span>):</td>
            <td>
                <input type="text" name="txtHoTen" maxlength="100" class="cinput" height="29" width="200" required="" value="@Model.hoten">
            </td>
        </tr>
        <tr>
            <td style="width: 125px">Số điện thoại:</td>
            <td>
                <input type="text" name="txtSDT" maxlength="11" class="cinput" value="@Model.sdt" height="29" width="200" pattern="^(0\d{9,10})$" title="Đây không phải là số điện thoại">
            </td>
        </tr>
        <tr>
            <td style="width: 125px">Địa chỉ (<span style="color: red">*</span>):</td>
            <td>
                <textarea name="txtDiaChi" rows="2" cols="20" style="width:300px;" required="">@Model.diachi</textarea>
            </td>
        </tr>
        <tr>
            <td style="width: 125px">Email:</td>
            <td>
                <input type="email" name="txtEmail" maxlength="100" class="cinput" height="29" width="200" value=@Model.email required="">
            </td>
        </tr>
            <tr>
                <td></td>
                <td>
                    @Html.Raw(ViewBag.error)
                </td>

            </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 125px; height: 31px"></td>
            <td class="space">
                <input type="submit" name="btnCapNhat" value="Cập nhật" class="cinputb" style="width: 101px;">
                <a style="border: 1px solid #01c4c4; padding: 6px 4px; color: #01c4c4;" href="/lich-su-mua-hang.html" title="Lịch sử mua hàng">Lịch sử mua hàng</a>
            </td>
        </tr>
        <tr>
            <td style="width: 125px"></td>
            <td>
                
            </td>
        </tr>
    </table>
</form>
</fieldset>